<center>
<h1>Ready Up</h1>
<img src="https://www.searchpng.com/wp-content/uploads/2019/02/Game-Icon-PNG-715x673.png"></img>
</br>
<p>Username:</p>
<p>Password:</p>
<p>Create New User Button</p>
</center>